@import url(https://fonts.googleapis.com/css?family=Roboto);

/*Variables*/
:root {
    /*Colores*/
    --cafe-claro1: #ede0d4;
    --cafe-claro2: #e6ccb2;
    --cafe-medio1: #ddb892;
    --cafe-medio2: #b08968;
    --cafe-oscuro1: #7f5539;
    --cafe-oscuro2: #9c6644;
    /*Tamaños de texto*/
    --titulo-1: 40px;
    --titulo-2: 30px;
    --subtitulo-1: 24px;
    --subtitulo-2: 22px;
    --texto-1: 18px;
    --texto-2: 16px;
    --texto-3: 14px;
}

/*Reset HTML*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Envoltorio*/
.envoltorio {
    margin: 0 auto;
    width: 80%;
}

/*Menú*/
header {
    width: 100%;
    height: 80px;
    background-color: var(--cafe-oscuro2);
    border-bottom: var(--cafe-oscuro1) 3px solid;
    font-size: var(--texto-3);
}

header .envoltorio {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .titulo {
    color: var(--cafe-claro1);
    font-weight: bold;
    font-size: var(--texto-1);
}

nav ul {
    list-style-type: none;
}

nav li {
    line-height: 80px;
}

nav a {
    color: var(--cafe-claro1);
    display: block;
    padding: 0 2rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: var(--cafe-medio1);
    color: var(--cafe-oscuro2);
}

nav>ul>li {
    float: left;
}

/*Body*/
body {
    background-color: var(--cafe-claro1);
    color: var(--cafe-oscuro1);
}

/*Index*/
/*Párrafo Introducción*/
#intro .envoltorio {
    margin: 50px auto;
}

#intro {
    text-align: center;
    font-size: var(--texto-1);
    line-height: 2;
}

#intro h1 {
    font-size: var(--titulo-1);
}

#intro p {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--cafe-medio2);
}

/*Guías*/
#guias .envoltorio {
    margin: 70px auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--cafe-medio2);
}

#guias .item {
    width: 30%;
    height: 375px;
    background-color: var(--cafe-oscuro1);
    border-radius: 20px;
    padding: 30px 0;
    margin: 20px 0;
    box-shadow: 5px 5px 5px #9c6644;
    color: var(--cafe-claro1);
    line-height: 2.3;
}

.item a {
    text-decoration: none;
    color: var(--cafe-claro2);
    font-size: var(--texto-1);
}

.item a:hover {
    color: var(--cafe-claro1);
    transform: scale(1.5);
    text-decoration: underline;
}

.item h3 {
    font-size: var(--subtitulo-1);
}

/*Descripción de Guías*/
#descripcion-guias .envoltorio {
    width: 1200px;
    margin: 0 auto 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tit {
    margin: 30px auto;
    font-size: var(--titulo-1);
}

.cuadro {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    background-color: var(--cafe-medio1);
    padding-left: 40px;
    border-radius: 10px;
}

.descripcion {
    width: 1040px;
    height: 225px;
    background-color: var(--cafe-oscuro2);
    margin: 20px 0px;
    text-align: justify;
    padding: 40px;
    line-height: 1.5;
    box-shadow: 5px 5px 10px var(--cafe-oscuro1);
    font-size: var(--texto-1);
    border-radius: 10px;
}

.descripcion p {
    color: var(--cafe-claro1);
}

.descripcion h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    color: var(--cafe-claro2);
}

/*Curso*/
#curso,
#foda,
#retroalimentacion {
    margin: 50px auto;
}

#curso,
#foda,
#retroalimentacion {
    text-align: center;
    font-size: var(--texto-1);
    line-height: 2;
}

#curso h1,
#foda h1,
#retroalimentacion h1 {
    font-size: var(--titulo-1);
}

#curso p,
#foda h1,
#retroalimentacion h1 {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--cafe-medio2);
}

/*Tabla*/
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 40px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.tabla thead {
    background-color: var(--cafe-oscuro1);
    color: var(--cafe-claro2);
}

.tabla th {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid --cafe-medio2;
}

.tabla td {
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
    vertical-align: top;
    color: var(--cafe-medio2);
}

.tabla ul {
    list-style-type: disc;
    margin: 10px 0 0 20px;
    padding: 0;
}

.tabla ul li {
    line-height: 1.5;
}

/*Datos Personales*/
#bio {
    margin: 50px auto;
    margin-bottom: 20px;
}

#bio {
    text-align: center;
    font-size: var(--texto-1);
    line-height: 2;
}

#bio h1 {
    font-size: var(--titulo-1);
}

#bio p {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--cafe-medio2);
}

#imagenes {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.imagen {
    max-height: 250px;
    border-radius: 10px;
}

/*Footer*/
footer {
    background-color: var(--cafe-oscuro2);
    color: var(--cafe-claro1);
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-top: 30px;
    font-size: 22px;
    left: 0;
    bottom: 0;
}

@media (min-width: 481px) and (max-width: 768px) {
    :root {
        --titulo-1: 32px;
        --titulo-2: 28px;
        --subtitulo-1: 22px;
        --subtitulo-2: 20px;
        --texto-1: 16px;
        --texto-2: 14px;
        --texto-3: 12px;
    }

    header {
        height: 70px;
        padding: 30px;
    }

    header .envoltorio {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        padding: 10px;
    }

    #guias{
        display: flex;
        flex-direction: column;
    }

    #guias .item{
        width: 75%;
    }

    #descripcion-guias .envoltorio{
        width: 80%;
    }

    .tit{
        font-size: var(--subtitulo-1);
    }

    .cuadro{
        width: 100%;
    }

    .cuadro .descripcion{
        width: 70%;
        height: fit-content;
    }

    #imagenes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imagenes .imagen{
        height: auto;
        max-height: 250px;
        width: auto;
        max-width: 400px;
        margin: 20px 0;
    }

    footer {
        height: auto;
        padding: 15px;
        text-align: center;
        font-size: var(--texto-3);
    }
}

@media (max-width: 480px) {
    :root {
        --titulo-1: 30px;
        --titulo-2: 26px;
        --subtitulo-1: 20px;
        --subtitulo-2: 18px;
        --texto-1: 14px;
        --texto-2: 12px;
        --texto-3: 10px;
    }

    header {
        height: 60px;
        padding: 20px;
    }

    header .envoltorio {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        padding: 5px;
    }

    #guias{
        display: flex;
        flex-direction: column;
    }

    #unidades{
        width: 80%;
    }

    #guias .item{
        width: 75%;
    }

    #descripcion-guias .envoltorio{
        width: 80%;
    }

    .tit{
        font-size: var(--subtitulo-1);
    }

    .cuadro{
        width: 100%;
    }

    .cuadro .descripcion{
        width: 60%;
        height: fit-content;
    }

    #imagenes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imagenes .imagen{
        height: auto;
        max-height: 150px;
        width: auto;
        max-width: 300px;
        margin: 10px 0;
    }

    #bio{
        font-size: var(--subtitulo-2);
    }

    footer {
        height: auto;
        padding: 10px;
        text-align: center;
        font-size: var(--texto-3);
    }
}