.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#res1,
#res2 {
    width: 50%;
}

#diez_de_diamantes {
    position: relative;
}

#sota_de_diamantes {
    position: relative;
    bottom: 85px;
    left: 15px;
}

#reina_de_diamantes {
    position: relative;
    bottom: 170px;
    left: 30px;
}

#rey_de_diamantes {
    position: relative;
    bottom: 255px;
    left: 45px;
}

#as_de_diamantes {
    position: relative;
    bottom: 340px;
    left: 60px;
}

#diez_de_diamantes_2 {
    position: relative;
    z-index: 50;
}

#sota_de_diamantes_2 {
    position: relative;
    bottom: 85px;
    left: 15px;
    z-index: 40;
}

#reina_de_diamantes_2 {
    position: relative;
    bottom: 170px;
    left: 30px;
    z-index: 30;
}

#rey_de_diamantes_2 {
    position: relative;
    bottom: 255px;
    left: 45px;
    z-index: 20;
}

#as_de_diamantes_2 {
    position: relative;
    bottom: 340px;
    left: 60px;
    z-index: 10;
}